# Python / Compilation / Packaging
__pycache__/
*.py[codz]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
*.manifest
*.spec
pip-log.txt
pip-delete-this-directory.txt

# Tests / Coverage / CI
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py.cover
.hypothesis/
.pytest_cache/
cover/

# Frameworks / Outils Python
*.mo
*.pot
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
instance/
.webassets-cache
.scrapy
docs/_build/
.pybuilder/
target/
profile_default/
ipython_config.py
.pdm-python
.pdm-build/
.pixi
__pypackages__/
celerybeat-schedule
celerybeat.pid
*.sage.py
.env
.envrc
.venv
.venv_py312
env/
venv/
ENV/
env.bak/
venv.bak/
.spyderproject
.spyproject
.ropeproject
.site
.mypy_cache/
.dmypy.json
dmypy.json
.pyre/
.pytype/
cython_debug/

# IDE / Editeurs
# PyCharm
#.idea/
# Visual Studio Code
.vscode/
# Cursor
.cursorignore
.cursorindexingignore
# JetBrains
# Voir JetBrains.gitignore

# Outils spécifiques
.ruff_cache/
.pypirc
.abstra/
marimo/_static/
marimo/_lsp/
__marimo__/

# Systèmes / OS
.DS_Store

# Données locales / Images / Logs / Modèles
# Bases de données locales
data/
# Logs
logs/
# Les poids des modèles YOLO
src/paper_detection/yolo/model/
src/paper_detection/tmp/
src/audio/tmp/
data
tests/
src/recog/archives
src/recog/test_set/
datasets_yolo/
src/paper_detection/benchmark/data
runs/
test_MLB/
voice_assistant/

src/compute_diff_tests.ipynb
src/test_full_pipeline.ipynb

src/frontend/log.txt